<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL_BLL.Properties.Settings.QL_MusicConnectionString"
            connectionString="Data Source=DESKTOP-NGUYENS\SQLEXPRESS;Initial Catalog=QL_Music;User ID=sa;Password=sa2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>